<nav id="header" class="navbar has-shadow">
  <div class="navbar-brand">
    <div class="navbar-menu">
      <div class="navbar-start">

        <% unless current_user.nil? or current_user.customer.nil? %>
          <span class="navbar-item">
            <b>Customer ID: </b>
            <%= current_user.customer.spectre_id %>
          </span>
        <% end %>

      </div>

    </div>
  </div>
  
  <div class="navbar-end">

    <% if user_signed_in? %>
      <span class="navbar-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </span>
    <% else %>
      <span class="navbar-item">
        <%= link_to 'Sign In', new_user_session_path %>
      </span>
      <span class="navbar-item">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </span>
    <% end %>

  </div>
</nav>